@page "/Raffle"
@rendermode InteractiveServer
@inject IConfiguration Configuration
@using Azure.Data.Tables
@using Azure
@inject TableClient TableClient
<PageTitle>Raffle</PageTitle>

<h1>Raffle</h1>

<p role="status">Random Number: @_luckyNumber</p>

<button class="btn btn-primary" @onclick="DrawRaffle">Draw Raffle</button>

@if (_luckyNumber % 2 == 0)
{
    <h2>Congratulations! You won 🚀🥇</h2>
}
<p>@Configuration.GetConnectionString("COSMOSDB")</p>
@code {
    private int _luckyNumber = 0;
    private async Task DrawRaffle()
    {
        _luckyNumber = Random.Shared.Next(0, 11);
        await TableClient.AddEntityAsync<RaffleEntity>(new RaffleEntity()
        {
            PartitionKey = "Raffle",
            RowKey = Guid.NewGuid().ToString(),
            LuckyNumber = _luckyNumber
        });
        
    }
    public class RaffleEntity : ITableEntity
    {
        public string? PartitionKey { get; set; }
        public string? RowKey { get; set; }
        public DateTimeOffset? Timestamp { get; set; }
        public ETag ETag { get; set; }
        public int LuckyNumber { get; set; }
    }
}
