@page "/Raffle"
@rendermode InteractiveServer
@inject IConfiguration Configuration
<PageTitle>Raffle</PageTitle>

<h1>Raffle</h1>

<p role="status">Random Number: @_luckyNumber</p>

<button class="btn btn-primary" @onclick="DrawRaffle">Draw Raffle</button>

@if(_luckyNumber % 2 == 0)
{
    <h2>Congratulations! You won 🚀🥇</h2>
}
<p>@Configuration["CUSTOMCONNSTR:COSMOSDB"]</p>
<p>@Configuration.GetConnectionString("COSOMOSDB")</p>
@code {
    private int _luckyNumber = 0;

    private void DrawRaffle()
    {
        _luckyNumber = Random.Shared.Next(0,11);
    }
}
